:root {
/* Colores primarios */
    --c-primario-nav: #28855E;
    --c-primario-hover: #ffffff;
    --c-primario-hover-click:  #DBF7DF;
/* Fuentes*/
    --f-primaria: "Manrope", sans-serif;
    --f-secundaria: 
    --f-terciaria:
}